<div [formGroup]="vaccinator">
    <!--begin: Form Wizard Step 2-->
    <div class="pb-5" data-wizard-type="step-content">
        <h4 class="mb-10 font-weight-bold text-dark">Vaccination Details</h4>
        <p-fieldset legend="Vaccinator">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <!-- *ngIf="vaccinator.value.resedenceItem && vaccinator.value.resedenceItem==='YES'" -->
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-users"></i>
                        <p-autoComplete id="float-input" formControlName="orgName" [suggestions]="filteredOrgs"
                            (completeMethod)="filterOrg($event)" (onBlur)="onOrgNameBlur($event)" [forceSelection]="isAutocomplete" field="name" [minLength]="1"
                            class="p-inputtext-sm" [autoHighlight]="true">
                        </p-autoComplete>
                        <label for="org_name">Organization Name<span class="cls-requiered">*</span></label>
                    </span>
                    <small id="field-help" [innerHTML]="tooltipJson.orgName"></small>
                    <small id="field-help" [innerHTML]="isAutocomplete ? 'Type `a` for hint.' : ''"></small>
                    <!-- <small id="field-help">Type 'a' for hint.</small> -->
                    <!-- <input id="org_name" type="text" formControlName="orgName" pInputText class="p-inputtext-sm"> -->
                    <mat-error *ngIf="stepTwo && hasError('orgName', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-home"></i>
                        <input id="float-input" type="text" formControlName="orgAddress1" required pInputText
                            class="p-inputtext-sm">
                        <label for="firstname6">Address street<span class="cls-requiered">*</span></label>
                    </span>
                    <small id="field-help">{{tooltipJson.orgAddress1}}</small>
                    <mat-error *ngIf="stepTwo && hasError('orgAddress1', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-home"></i>
                        <input id="float-input" type="text" formControlName="orgAddress2" pInputText
                            class="p-inputtext-sm">
                        <label for="lastname6">Address street 2</label>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-home"></i>
                        <input id="float-input" type="text" formControlName="orgCity" required pInputText
                            class="p-inputtext-sm">
                        <label for="org_city">City<span class="cls-requiered">*</span></label>
                    </span>
                    <mat-error *ngIf="stepTwo && hasError('orgCity', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>


                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-map-marker"></i>
                        <p-inputMask id="float-input" mask="99999" maxlength="10" minLength="5"
                            formControlName="orgZipcode" pattern slotChar='' class="p-inputtext-sm"></p-inputMask>
                        <label for="lastname6">Zip code</label>
                    </span>
                    <!-- <mat-error *ngIf="stepTwo && hasError('orgZipcode', 'required')">
                    <strong>Required field</strong>
                </mat-error> -->
                    <mat-error *ngIf="hasError('orgZipcode', 'pattern')">
                        <strong>Field is not valid</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-mobile"></i>
                        <p-dropdown id="float-input" inputId="org_state" [options]="stateList"
                            formControlName="orgState" [filter]="true" filterBy="label" filterMatchMode="contains"
                            [showClear]="true" [resetFilterOnHide]="true" required class="p-inputtext-sm"
                            placeholder=" "></p-dropdown>
                        <label for="org_state">State<span class="cls-requiered">*</span></label>
                    </span>
                    <!-- <input id="org_state" type="text" formControlName="orgState" required pInputText class="p-inputtext-sm">  -->
                    <mat-error *ngIf="stepTwo && hasError('orgState', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>

                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-mobile"></i>
                        <p-inputMask id="float-input" mask="9999999999" minLength="10" maxLength="10"
                            formControlName="orgContactNumber" slotChar='' pattern class="p-inputtext-sm">
                        </p-inputMask>
                        <label for="user_contact">Contact Number</label>
                    </span>
                    <!-- <mat-error
                    *ngIf="stepTwo && hasError('orgContactNumber', 'required')">
                    <strong>Required field</strong>
                </mat-error> -->
                    <mat-error *ngIf="stepTwo && hasError('orgContactNumber', 'minLength')">
                        <strong>Required field</strong>
                    </mat-error>
                    <mat-error *ngIf="stepTwo && hasError('orgContactNumber', 'maxLength')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-envelope"></i>
                        <input id="float-input" type="email" formControlName="orgEmail" [pattern]="mailformat"
                            pInputText class="p-inputtext-sm">
                        <label for="user_email">Email <span *ngIf="vaccinator.value.orgState === 'HI'"
                                class="cls-requiered">*</span></label>
                    </span>
                    <mat-error
                        *ngIf="vaccinator.value.orgState === 'HI' && stepTwo && hasError('orgEmail', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                    <!-- <mat-error *ngIf="stepTwo && hasError('orgEmail', 'email')">
                        <strong>Field is not valid</strong>
                    </mat-error> -->
                    <mat-error *ngIf="hasError('orgEmail', 'pattern')">
                        <strong>Field is not valid</strong>
                    </mat-error>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Vaccine Info" [style.margin-top]="'20px'">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <i class="pi pi-phone"></i>
                        <p-dropdown id="float-input" inputId="manufacturer" [options]="manufacturerList"
                            formControlName="orgManufacturer" [filter]="true" filterBy="label"
                            filterMatchMode="contains" [showClear]="true" [resetFilterOnHide]="true" required
                            class="p-inputtext-sm" placeholder=" ">
                        </p-dropdown>
                        <label for="manufacturer_name">Vaccine manufacturer<span class="cls-requiered">*</span></label>
                    </span>
                    <mat-error *ngIf="stepTwo && hasError('orgManufacturer', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <span class="p-float-label p-input-icon-right">
                        <p-calendar id="float-input" [showIcon]="true" inputId="icon" formControlName="orgDose1"
                            required [monthNavigator]="true" [yearNavigator]="true"
                            [yearRange]="dateProperties.yearRange" [dateFormat]="dateProperties.dateFormat"
                            class="p-inputtext-sm" [maxDate]="dateProperties.maxDate"></p-calendar>
                        <label for="dose1">Date of Dose(s) {{(vaccinator.value.orgManufacturer &&
                            vaccinator.value.orgManufacturer != 'Johnson \& Johnson') ? '1' :
                            ''}}<span class="cls-requiered">*</span></label>
                    </span>
                    <mat-error *ngIf="stepTwo && hasError('orgDose1', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                </div>
                <div class="p-field p-col-12 p-md-4"
                    *ngIf="(vaccinator.value.orgManufacturer && vaccinator.value.orgManufacturer != 'Johnson \& Johnson')">
                    <span class="p-float-label p-input-icon-right">
                        <p-calendar id="float-input" [showIcon]="true" inputId="icon" formControlName="orgDose2"
                            required [monthNavigator]="true" [yearNavigator]="true"
                            [yearRange]="dateProperties.yearRange" [dateFormat]="dateProperties.dateFormat"
                            class="p-inputtext-sm" [maxDate]="dateProperties.maxDate"></p-calendar>
                        <label for="dose2">Date of Dose(s) 2<span class="cls-requiered">*</span></label>
                    </span>
                    <mat-error *ngIf="stepTwo && hasError('orgDose2', 'required')">
                        <strong>Required field</strong>
                    </mat-error>
                    <mat-error *ngIf="vaccinator.value.orgDose2 && isGreatedThan('orgDose2','orgDose1')">
                        <strong>Date of Dose 2 needs to be after that of dose 1</strong>
                    </mat-error>
                    <mat-error *ngIf="vaccinator.value.orgDose2 && isMinimumGap('orgDose2','orgDose1')">
                        <strong>The interval between Dose 1 and Dose 2 should be minimum of
                            {{gapDays}} days</strong>
                    </mat-error>
                </div>
            </div>
        </p-fieldset>

        <p-fieldset legend="COVID Appointment Email Confirmation" [style.margin-top]="'20px'">
                    <p-editor [style]="{'height':'200px'}" formControlName="apptEmailConf"></p-editor>
                    <small id="field-help">If you received an email confirmation for your
                        vaccination appointment, please copy and paste the email here.</small>
                    <!-- <textarea id="float-input" [rows]="5" style="width: 100%; min-height: 8rem;" pInputTextarea
                        autoResize="autoResize"></textarea> -->
        </p-fieldset>
    </div>
    <!--end: Form Wizard Step 2-->
</div>