@import "../../../../../assets/sass/pages/wizard/wizard-2";

#video {
  background-color: #000000;
}
#canvas {
  display: none;
}
li {
  display: inline;
  padding: 5px;
}
.cls-actionBtn {
  background: #fff;
  border: 1px solid #969696;
  padding: 6px 20px;
  color: #2f2f2f;
  margin-top: 10px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  background-color: transparent;
  display: inline-block;
  padding: 10px 26px;
  border: 1px solid #777;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #3699ff;
  border: 1px solid #3699ff;
  box-shadow: 0px 1px 4px #3699ff;
}
.cls-form-upload {
  border: 1px dashed #ccc;
  padding: 19px 10px;
  margin-bottom: 36px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

.p-md-10 {
  padding: 0.5rem !important;
}

.upload-drop-zone {
  border: 2px dotted green;
  width: 100%;
  height: 10rem;
  padding-top: 4rem;
  text-align: center;
  color: gray;
}

:host ::ng-deep div.uploadedFiles > mat-file-upload-queue button {
  margin-right: 2rem !important;
}

:host ::ng-deep .p-fieldset {
  margin-top: 1rem !important;
}
:host ::ng-deep .p-fieldset-legend {
  margin-left: 1rem !important;
}

:host ::ng-deep .p-fieldset-legend-text {
  // line-height: 0.5 !important;
}

:host ::ng-deep legend {
  width: inherit !important;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  white-space: initial !important;
}

:host ::ng-deep #card-element {
  border: 1px solid #e4e6ef !important;
  border-radius: 5px;
  padding-left: 5px;
}

:host ::ng-deep .ElementsApp,
.ElementsApp .InputElement {
  color: red !important;
}

:host ::ng-deep .link_class {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}

:host {
  ::ng-deep {
    // .p-inputtext.p-inputtext-sm, .p-inputtext-sm .p-inputtext, .p-inputtext-sm{
    //   padding: .4375rem !important;
    // }
    // .p-calendar-w-btn .p-datepicker-trigger.p-button {
    //   position: absolute;
    // }

    // .p-fluid .p-calendar .p-inputtext {
    //   padding-left: 3rem;
    // }
    .lot-number{
      font-size: 11px;;
      color: #635858;
    }
    
    .cls-requiered {
      color: red;
      margin-left: 5px;
    }
    .select_button .p-button {
      padding: 0.5rem 0rem !important;
    }
    .box {
      min-height: 50px;
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: left;
      border-radius: 4px;
      padding-left: 1em;
      padding-right: 1em;
    }

    .doseTable table,
    td {
      height: 3em;
    }

    //   .editable > .form .form-group{
    //       padding: unset !important;
    //   }

    // .box .p-shadow-3 > div {
    //   width: 100%;
    // }

    .editable {
      width: 100%;
    }

    .p-card {
      background: #e6e6e6 !important;
      width: 45rem !important;
    }

    .container {
      background: #aedaa6 !important;
      position: fixed;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      .card {
        display: flex;
        width: auto;
        // height: 375px;
        position: absolute;
        background: white;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: all 0.3s;

        &:hover {
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        nav {
          width: 100%;
          color: #727272;
          text-transform: uppercase;
          padding: 20px;
          border-bottom: 2px solid #efefef;
          font-size: 12px;

          svg.heart {
            height: 24px;
            width: 24px;
            float: right;
            margin-top: -3px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
              fill: red;
            }
          }
          svg.arrow {
            float: left;
            height: 15px;
            width: 15px;
            margin-right: 10px;
          }
        }

        .photo {
          padding: 30px;
          width: 45%;
          text-align: center;
          float: left;

          img {
            max-height: 240px;
          }
        }

        .description {
          padding: 30px;
          float: left;
          width: 55%;
          border-left: 2px solid #efefef;

          h1 {
            color: #515151;
            font-weight: 300;
            padding-top: 15px;
            margin: 0;
            font-size: 30px;
            font-weight: 300;
          }

          h2 {
            color: #515151;
            margin: 0;
            text-transform: uppercase;
            font-weight: 500;
          }

          h4 {
            margin: 0;
            color: #727272;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
          }

          p {
            font-size: 12px;
            line-height: 20px;
            color: #727272;
            padding: 20px 0;
            margin: 0;
          }

          button {
            outline: 0;
            border: 0;
            background: none;
            border: 1px solid #d9d9d9;
            padding: 8px 0px;
            margin-bottom: 30px;
            color: #515151;
            text-transform: uppercase;
            width: 125px;
            font-family: inherit;
            margin-right: 5px;
            transition: all 0.3s ease;
            font-weight: 500;

            &:hover {
              // background: darken(white, 2%);
              border: 1px solid #aedaa6;
              color: #aedaa6;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
