<!-- <div class="hapi__token-container">
	<div *ngIf="!connectClosed; else elseBlock">
		<button class="button is-link"
		[attr.data-hapi-token]="token">Connect your Health Data
		</button>
	</div>
	<ng-template #elseBlock>
	  <h3 class="title is-3">
		  Thank you for connecting your Health Data.
	  </h3>
	</ng-template>
</div> -->
<kt-portlet>
	<kt-portlet-body>
		<p-dialog header="Secure Payment" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
			[style]="{width: '50vw'}">
			<!-- <div class="card"> -->
			<div class="p-d-flex">
				<div class="photo">
					<img src="./assets/media/logos/VAXChecks-logo.png" title="" alt="">
				</div>
				<p-divider layout="vertical"></p-divider>
				<div class="p-grid">
					<div class="p-col-12">
						<h4>Verify and Certify COVID CDC Vaccination Cards
							for Safe Travels Hawai’i
						</h4>
					</div>
					<div class="p-col-12">
						<h5>by VAXCheck, a service of FirstVitals Health and Wellness Inc</h5>
					</div>
					<div class="p-col-12">
						<button pButton pRipple type="submit" label="PAY $36.65" style="width: 100%"
							(click)="checkout()"
							class="p-button-outlined p-button-success p-button-raised p-button-rounded"></button>
					</div>
				</div>
				<!-- <button (click)="checkout()">Checkout</button> -->
			</div>
		</p-dialog>
		<!-- <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Show</button> -->
		<img src="./assets/media/logos/VAXChecks-logo.png" title="" alt=""
			style="right: 5%; width: 5.5%; position: absolute; margin-top: -1%">
		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-2" id="kt_wizard_v2" data-wizard-state="step-first">
			<div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10">
				<!--begin: Form Wizard Nav -->

				<button style="margin-bottom: 1rem;" pButton pRipple type="button" label="HELP" (click)="changeGuidMe()"
					class="p-button-raised p-button-success p-button-rounded"></button>
				<div class="wizard-steps">
					<a class="wizard-step first-element" href="javascript:;" data-wizard-type="step"
						data-wizard-state="current">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"
									[inlineSVG]="'assets/media/svg/icons/General/User.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Traveler Information
								</div>
								<div class="wizard-desc">
									Complete Registration
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step install-element" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"
									[inlineSVG]="'assets/media/svg/icons/Map/Compass.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Vaccination Site
								</div>
								<div class="wizard-desc">
									Where did you get vaccinated
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step usage-element" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"
									[inlineSVG]="'assets/media/svg/icons/General/Thunder-move.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Vaccination Card
								</div>
								<div class="wizard-desc">
									Upload copy of your CDC card
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step" style="display: none;">
						<div class="wizard-wrapper">
							<div class="wizard-icon">
								<span class="svg-icon svg-icon-3x"
									[inlineSVG]="'assets/media/svg/icons/General/Thunder-move.svg'"></span>
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Vaccination Status
								</div>
								<div class="wizard-desc">
									Patient status
								</div>
							</div>
						</div>
					</a>
				</div>
				<!--end: Form Wizard Nav -->

			</div>
			<div class="wizard-body py-8 px-8 py-lg-20 px-lg-10">
				<p-messages *ngIf="messageContent" [severity]="messageSeverity" closable="true">
					<ng-template pTemplate>
						<i class="pi pi-info-circle"></i>
						<div class="p-ml-3" [innerHtml]="messageContent" style="width: 100%;"></div>
						<div class="p-mr-2">
							<button pButton pRipple type="button" icon="pi pi-times" style="color: #2c1e30;"
								class="p-button-rounded p-button-danger p-button-text"
								(click)="messageContent = ''"></button>
						</div>
					</ng-template>
				</p-messages>
				<!--begin: Wizard Form-->
				<div class="">
					<div class="offset-xxl-12">
						<!--begin: Form Wizard Form-->
						<form class="form" id="kt_form" novalidate="novalidate" [formGroup]="patientForm">
							<kt-traveler-info [travelerInfo]="patientForm" [tooltipJson]="tooltipJson"
								[dateProperties]="dateProperties" [isControlHasError]=isControlHasError>
							</kt-traveler-info>
							<kt-vaccinator [vaccinator]="patientForm" [tooltipJson]="tooltipJson"
								[dateProperties]="dateProperties" [isControlHasError]=isControlHasError
								[stepTwo]="stepTwo"></kt-vaccinator>
							<kt-upload-card [uploadCardForm]="patientForm" [tooltipJson]="tooltipJson"
								[lastInputText]="lastInputText" [firstInputText]="firstInputText"
								[firstClinicName]="firstClinicName" [secondClinicName]="secondClinicName"
								[lastNameInputControl]="lastNameInputControl"
								[firstNameInputControl]="firstNameInputControl"
								[firstClinicNameInputControl]="firstClinicNameInputControl"
								[secondClinicNameInputControl]="secondClinicNameInputControl"
								[imageToTextResponse]="imageToTextResponse" [isControlHasError]=isControlHasError
								[showWebcam]="showWebcam" [tab3Pressed]="tab3Pressed"
								(firstEditedText)="updateFirstName($event)" (lastEditedText)="updateLastName($event)"
								(firstEditedClinic)="updateFirstClinic($event)"
								(secondEditedClinic)="updateSecondClinic($event)" (imageSrc)="updateImageSrc($event)"
								(updateWebImage)="updateWebcamImage($event)">
							</kt-upload-card>

							<!--begin: Form Wizard Step 4-->
							<div class="pb-5" data-wizard-type="step-content">
								<p-fieldset legend="Upload Supplemental Documents">
									Additional supporting vaccination documents can be uploaded here
									<div class="p-d-flex p-ai-start" style="margin-top: 1rem;">
										<div class="p-mr-2">
											<!-- <input id="singleFile" type="file" style="display: none;" multiple="multiple" [fileUploadInputFor]="fileUploadQueue" /> -->
											<div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
												<i class="pi pi-upload" style="font-size: 2rem"></i><br>
												Drag files to upload
											</div>
											<input style="margin-top: 1rem;" type="file" id="file" multiple
												class="inputfile" [fileUploadInputFor]="fileUploadQueue" />
											<label for="file" style="margin-top: 1rem;">Select files to upload</label>
											<!-- <input style="margin-top: 1rem;" id="singleFile" type="file" multiple="multiple" [fileUploadInputFor]="fileUploadQueue" /> -->
											<!-- <label for="file">choose a file</label> -->
										</div>
										<div style="width: 500px;" class="uploadedFiles">
											<mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'"
												[httpUrl]="'http://localhost:8080/jax-rs-jersey-application-sample'"
												multiple>
												<mat-file-upload [file]="file" [id]="i"
													*ngFor="let file of fileUploadQueue.files; let i = index">
												</mat-file-upload>
											</mat-file-upload-queue>
										</div>
									</div>
								</p-fieldset>
								<p-fieldset legend="Vaccination Summary">
									<div class="card">
										<div class="p-fluid" style="padding-left: .5rem;">
											<div class="p-field p-grid">
												<label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Vaccine Site:</label>
												<div class="p-col-12 p-md-10">
													<b>{{firstClinicName}}</b>
												</div>
											</div>
											<div class="p-field p-grid">
												<label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Doses Received:</label>
												<div class="p-col-12 p-md-10">
													<b *ngIf="imageToTextResponse">{{doseReceived}}</b>
												</div>
											</div>
											<div class="p-field p-grid">
												<label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Series Completed:</label>
												<div class="p-col-12 p-md-10">
													<b>{{seriesComplete}}</b>
												</div>
											</div>
											<div *ngIf="imageToTextResponse && !imageToTextResponse.isVaXCompleted"
												class="p-field p-grid">
												<label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Message:</label>
												<div class="p-col-12 p-md-10">
													<b>CDC Vaccination Information Submitted for Verification</b>
												</div>
											</div>
											<div class="p-field p-grid">
												<label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Effective Date:</label>
												<div class="p-col-12 p-md-10">
													<b>{{effectiveDate ? (effectiveDate | date:'MMM dd, yyyy') :
														'N/A'}}</b>
												</div>
											</div>
											<div class="p-field p-grid">
												<label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
													style="color: gray;">Expiration Date :</label>
												<div class="p-col-12 p-md-10">
													<b>{{expirationDate ? (expirationDate | date:'MMM dd, yyyy') :
														'N/A'}}</b>
												</div>
											</div>
										</div>
									</div>
								</p-fieldset>
							</div>

							<!--begin: Form Actions -->
							<div class="d-flex justify-content-between border-top pt-10">
								<div class="mr-2">
									<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"
										data-wizard-type="action-prev">
										Previous
									</div>
								</div>
								<div>
									<button class="btn btn-success font-weight-bold text-uppercase px-9 py-4 fa" 
									data-wizard-type="action-submit"
									[disabled]="isLoading" (click)="onSubmit()"><i
											[ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>
										{{button}}</button>

									<!-- <div (click)="onSubmit()"
										class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
										data-wizard-type="action-submit">
										{{submitButton.value}}
									</div> -->
									<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4"
										data-wizard-type="action-next">
										Next Step
									</div>
								</div>
							</div>
							<!--end: Form Actions -->
						</form>
						<!--end: Form Wizard Form-->
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->
		<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
			rejectButtonStyleClass="p-button-outlined p-button-info p-button-raised p-button-rounded"
			acceptButtonStyleClass="p-button-outlined p-button-success p-button-raised p-button-rounded">
		</p-confirmDialog>
	</kt-portlet-body>
</kt-portlet>