<div class="container">
	<div class="row">
		<div class="col-lg-8 col-xxl-4 order-1 order-xxl-2">
			<div class="card card-custom">
				<!-- Header -->
				<div class="card-header border-0">
					<h3 class="card-title font-weight-bolder text-dark">Secure Payment</h3>
				</div>
				<!-- Body -->
				<div class="card-body pt-0">
					<div class="cell example example2" id="example-2">
						<form class="mb-5" novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
							<div data-locale-reversible>
								<div class="row" data-locale-reversible>
									<div class="field half-width">
										<input id="example2-firstname"
											data-tid="elements_examples.form.firstname_placeholder"
											formControlName="stripe_firstName" class="input" type="text"
											placeholder="John" required>
										<label for="example2-firstname"
											data-tid="elements_examples.form.firstname_label">First name</label>
										<div class="baseline"></div>
									</div>
									<div class="field half-width">
										<input id="example2-lastname"
											data-tid="elements_examples.form.lastname_placeholder"
											formControlName="stripe_lastName" class="input" type="text"
											placeholder="Smith" required>
										<label for="example2-lastname"
											data-tid="elements_examples.form.lastname_label">Last name</label>
										<div class="baseline"></div>
									</div>
								</div>
								<div class="row">
									<div class="field">
										<input id="example2-address"
											data-tid="elements_examples.form.address_placeholder"
											formControlName="stripe_address1" class="input" type="text"
											placeholder="185 Berry St" required>
										<label for="example2-address"
											data-tid="elements_examples.form.address_label">Address</label>
										<div class="baseline"></div>
									</div>
								</div>
								<div class="row" data-locale-reversible>
									<div class="field half-width">
										<input id="example2-city" data-tid="elements_examples.form.city_placeholder"
											class="input" type="text" placeholder="San Francisco" required
											formControlName="stripe_city">
										<label for="example2-city"
											data-tid="elements_examples.form.city_label">City</label>
										<div class="baseline"></div>
									</div>
									<div class="field quarter-width">
										<input id="example2-state" data-tid="elements_examples.form.state_placeholder"
											formControlName="stripe_state" class="input" type="text" placeholder="CA"
											required>
										<label for="example2-state"
											data-tid="elements_examples.form.state_label">State</label>
										<div class="baseline"></div>
									</div>
									<div class="field quarter-width">
										<input id="example2-zip"
											data-tid="elements_examples.form.postal_code_placeholder"
											formControlName="stripe_zipcode" class="input" type="text"
											placeholder="94107" required>
										<label for="example2-zip"
											data-tid="elements_examples.form.postal_code_label">ZIP</label>
										<div class="baseline"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="field">
									<div id="example2-card-number" class="input empty"></div>
									<label for="example2-card-number"
										data-tid="elements_examples.form.card_number_label">Card
										number</label>
									<div class="baseline"></div>
								</div>
							</div>
							<div class="row" id="card-info" #cardInfo>
								<div class="field half-width">
									<div id="example2-card-expiry" class="input empty"></div>
									<label for="example2-card-expiry"
										data-tid="elements_examples.form.card_expiry_label">Expiration</label>
									<div class="baseline"></div>
								</div>
								<div class="field half-width">
									<div id="example2-card-cvc" class="input empty"></div>
									<label for="example2-card-cvc"
										data-tid="elements_examples.form.card_cvc_label">CVC</label>
									<div class="baseline"></div>
								</div>
							</div>
							<button pButton pRipple type="submit" label="PAY $36.65" style="width: 100%"
								class="p-button-outlined p-button-success p-button-raised p-button-rounded"></button>
							<div class="error" role="alert">
								<span class="message"></span>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-2"></div>
	</div>
</div>