:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
		.error {
			visibility: hidden;
		}

		.mat-dialog-container{
			height: min-content !important;
			overflow: hidden !important;
		}
	}
}
