<!-- <div id="container">
    <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message">
            <h1 class="alert">Thank you!</h1>
            <p>yay, your box of joyfulness is on your way.</p>
        </div>
        <button class="button-box" [routerLink]="['/patient/request-report']">
            <h1 class="green">continue</h1>
        </button>
    </div>
</div> -->
<kt-portlet>
    <kt-portlet-body>
        <img src="./assets/media/logos/VAXChecks-logo.png" title="" alt=""
            style="right: 5%; width: 5.5%; position: absolute;;">
        <div class="p-grid p-jc-center">
            <div class="p-col-6">
                <div class="box">
                    <!-- <p-card> -->
                    <div *ngIf="!connectClosed" class="p-shadow-10"
                        style="padding: 2rem; border-radius: 20px; background: #d4f5d4;">
                        <h4 style="text-align: center; font-weight: bold;">Thank you!</h4>

                        <h5 style="text-align: center;">Your order has been successfully submitted.</h5>
                        <br>
                        <div class="p-grid">
                            <div class="p-col-1">
                                <img src="./assets/media/logos/email_sent_icon.jpg" title="mail sent" alt=""
                                    width="100%">
                            </div>
                            <div class="p-col-11" style="font-weight: bold;">An email receipt has been sent to the email
                                address provided.<br>
                                Please keep it for your records.</div>
                        </div><br>
                        <ul style="font-weight: bold; list-style-type: none;">
                            <li><ul type="square">
                                <li>We will perform validation, and shortly update your verification status.</li>
                                <li>An email will be sent out with your verification status;
                                    <span style="color: green;"> Cleared,</span>
                                    <span style="color: orange;"> Pending,</span>
                                    <span style="color: red;"> Unverified</span>
                                </li>
                            </ul></li>
                        </ul>
                        <!-- <iframe style="width: 100%;
                        padding: 0 2rem; height: 22rem;
                        border: none;" src="https://www.youtube.com/embed/pcTdDdkmCJM?feature=oembed">
                        </iframe> -->
                        <h5 style="text-align: center;">
                            <div class="hapi__token-container">
                                <div *ngIf="!connectClosed">

                                    <button *ngIf="buttonHumanFlg" pButton pRipple [label]="button"
                                        class="p-button-outlined p-button-primary p-button-raised p-button-rounded"
                                        [attr.data-hapi-token]="token" [disabled]="isLoading"><i
                                            [class]="isLoading ? 'pi pi-spin pi-spinner' : 'pi pi-check'"></i>&nbsp;
                                        <!-- [class]="{'pi pi-spin pi-spinner': isLoading, 'pi pi-check': !isLoading}" -->
                                    </button>

                                    <!-- <button *ngIf="buttonHumanFlg" pButton pRipple label="Connect your Health Data"
                                        style="text-align: center;"
                                        class="p-button-outlined p-button-success p-button-raised p-button-rounded"
                                        [attr.data-hapi-token]="token"></button> -->
                                    <!-- <button class="button is-link"
                                    [attr.data-hapi-token]="token">Connect your Health Data
                                    </button> -->
                                </div>
                            </div>
                            <button *ngIf="!buttonHumanFlg" pButton pRipple label="OK" style="text-align: center;"
                                class="p-button-outlined p-button-success p-button-raised p-button-rounded"
                                [routerLink]="'/corporate'"></button>
                        </h5>
                    </div>
                    <div *ngIf="connectClosed" class="p-shadow-10"
                        style="padding: 2rem; border-radius: 20px; background: #d4f5d4;">

                        <h4 style="text-align: center;">Thank you for connecting your Health
                            Data</h4>

                        <h5 style="text-align: center;"><button pButton pRipple label="OK" style="text-align: center;"
                                class="p-button-outlined p-button-success p-button-raised p-button-rounded"
                                [routerLink]="'/corporate'"></button></h5>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>