<kt-portlet>
    <kt-portlet-body>
        <img src="./assets/media/logos/VAXChecks-logo.png" title="" alt="" style="right: 5%; width: 5.5%; position: absolute;">
        <div class="p-grid p-jc-center">
            <div class="p-col-6">
                <div class="box">
                    <!-- <p-card> -->
                    <div class="p-shadow-10" style="padding: 2rem; border-radius: 20px; background: #f5d4d4;">
                        <h4 style="text-align: center; font-weight: bold;">Payment failed!!</h4>

                        <h5 style="text-align: center;">Please visit us after some time.</h5>
                        
                        <!-- <iframe style="width: 100%;
                        padding: 0 2rem; height: 22rem;
                        border: none;" src="https://www.youtube.com/embed/pcTdDdkmCJM?feature=oembed">
                        </iframe> -->
                        <h5 style="text-align: center;"><button pButton pRipple label="OK" style="text-align: center;"
              class="p-button-outlined p-button-danger p-button-raised p-button-rounded" [routerLink]="'/traveller/registration'"></button></h5>
                    </div>
                    <!-- </p-card> -->
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>