<div class="cls-container">
  <div class="form-group" (paste)="onPaste($event)">
      <input type="file" #file ng2FileSelect [uploader]="uploader" style="display: none;" />
      <div class="file-drop-zone">
          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" 
              [uploader]="uploader">
              <div class="file-drop-zone-inner">
                <h4>Insert File here</h4>
                <button type="button" class="btn btn-primary mt-3" (click)="file.click()">
                  Browse File
                </button>
              </div>
          </div>
      </div>
      <!-- <span class="cls-file-name" *ngIf="selectedFileName">
        {{selectedFileName}}
      </span> -->
      <span class="cls-file-error">
          {{fileErrorMessage}}
      </span>
  </div>
</div>
