<kt-portlet>
    <kt-portlet-body [class]="'login_background'">
        <!-- <img src="./assets/media/logos/VAXChecks-logo.png" title="" alt=""
            style="right: 5%; width: 5.5%; position: absolute;"> -->
        <div class="p-grid p-jc-center">
            <div class="p-col-4">
                <div class="box">
                        <div [formGroup]="corporateForm">
                        <!-- <p-card> -->
                        <div class="p-shadow-10 p-fluid" style="padding: 2rem; border-radius: 20px; background: white">
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="first-name" type="text" pInputText formControlName="firstName"
                                        class="p-inputtext-sm" pattern="^[ A-Za-z-.,]*$"
                                        oninput="validity.valid||(value=(this.value.substring(0, this.value.length - 1)))"
                                        required>
                                    <label for="first-name">First name<span class="cls-requiered">*</span></label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'firstName', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'firstName', 'pattern')">
                                    <strong>Field is not valid</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="float-input" type="text" pInputText formControlName="middleName"
                                        class="p-inputtext-sm" pattern="^[ A-Za-z-.,]*$"
                                        oninput="validity.valid||(value=(this.value.substring(0, this.value.length - 1)))">
                                    <label for="float-input">Middle name</label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'middleName', 'pattern')">
                                    <strong>Field is not valid</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="float-input" type="text" pInputText formControlName="lastName"
                                        class="p-inputtext-sm" pattern="^[ A-Za-z-.,]*$"
                                        oninput="validity.valid||(value=(this.value.substring(0, this.value.length - 1)))"
                                        required>
                                    <label for="float-input">Last name<span class="cls-requiered">*</span></label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'lastName', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'lastName', 'pattern')">
                                    <strong>Field is not valid</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <p-calendar [showIcon]="true" inputId="icon" formControlName="dob" required
                                        class="p-inputtext-sm" [monthNavigator]="true" [yearNavigator]="true"
                                        [yearRange]="dateProperties.yearRange" [dateFormat]="dateProperties.dateFormat"
                                        [maxDate]="dateProperties.maxDate"> </p-calendar>
                                    <label for="float-input">Date of birth<span class="cls-requiered">*</span></label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'dob', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-envelope"></i>
                                    <input id="float-input" type="email" formControlName="email" pInputText
                                        [pattern]="mailFormat" class="p-inputtext-sm" required>
                                    <label for="float-input">Email<span class="cls-requiered">*</span></label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'email', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'email', 'pattern')">
                                    <strong>Field is not valid</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-mobile"></i>
                                    <p-inputMask class="p-inputtext-sm" id="float-input" mask="9999999999"
                                        minLength="10" maxLength="10" slotChar='_' formControlName="contactNumber"
                                        required pattern>
                                    </p-inputMask>
                                    <label for="float-input">Phone Number<span class="cls-requiered">*</span></label>
                                </span>
                                <small id="field-help">{{tooltipJson?.contactNumber}}</small>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'contactNumber', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'contactNumber', 'minLength')">
                                    <strong>Required field</strong>
                                </mat-error>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'contactNumber', 'maxLength')">
                                    <strong>Required field</strong>
                                </mat-error>
                            </div>
                            <div class="p-mb-4 p-d-block">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="corporate-id" type="text" pInputText formControlName="corporateId"
                                        class="p-inputtext-sm" required>
                                    <label for="corporate-id">Corporate ID<span class="cls-requiered">*</span></label>
                                </span>
                                <mat-error *ngIf="errorUtils.hasError(corporateForm, 'corporateId', 'required')">
                                    <strong>Required field</strong>
                                </mat-error>
                            </div>
                            <div class="p-d-block">
                                <button pButton pRipple type="submit" [disabled]="isSubmitted" (click)="onSubmit()" [icon]="isSubmitted ? 'pi pi-spin pi-spinner' : ''" [label]="buttonLabel" [ngClass]="{'p-button-success' : isSubmitted}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>